<div class="contents row" >
  <div class="wrapper">
    <% @bottoms.each do |bottom| %>
      <div class="content_post" style="background-image: url(<%= bottom.image %>);">
      </div>
    <% end %>
  </div>
</div>
