<div class="contents row">
  <%= form_tag('/tops', method: :post) do %>
    <h3>
      トップスを登録する
    </h3>
    <input type="text" name="image" placeholder="Image Url">
    <input type="submit" value="SEND">
  <% end %>
</div>