<div class="contents row" >
  <div class="wrapper">
    <% @codinates.each do |codinate| %>
      <div class="set">
        <div class="content" style="background-image: url(<%= codinate.top.image %>);"></div>
        <div class="content" style="background-image: url(<%= codinate.bottom.image %>);" /></div>
      </div>
    <% end %>
  </div>
</div>

